@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Quicksand:wght@300;400;700&display=swap');
@font-face{
    font-family: Cubano;
    src: url("Cubano.ttf");
}
body{
    margin: 0px;
    background-color: #121314;
}
.box-one{
    border: 1px solid red;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to right, #C02425, #f09635);
}
.box{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.title{
    font-family: Cubano;
    background-color: black;
    width: max-content;
    padding: 0px 50px 10px 50px;
    color: white;
    font-size: 100px;
}
.what-is-blaze-head, .how-can-i-get-head, .documentation, .formatting{
    font-family: Quicksand;
    line-height: 0px;
    font-weight: bold;
    color: rgb(229, 229, 229);
    font-size: 50px;
    text-align: center;
}
.what-is-blaze-body, .how-can-i-get-body{
    font-family: Poppins;
    color: rgb(105, 104, 120);
    text-align: center;
}
.github{
    border: 1px solid rgb(153,99,0);
    font-family: Poppins;
    cursor: pointer;
    transition: .1s ease;
    color: white;
    background-color: transparent;
}
.github:hover{
    transition: .2s ease;
    border: 2px solid rgb(153,99,0);
    background-color: transparent;
    box-sizing: border-box;
    height: 40px;
    color: rgb(153,99,0);
}
img[src="blazeImports.png"], img[src="blazeTest.png"]{
    box-shadow: 0px 0px 10px -3px rgb(105, 104, 120);
}
.quicksand{
    font-family: Quicksand;
}

.title{
    font-size: 100px;
}
.large-text{
    font-size: 100px;
}
.bold{
    font-weight: bold;
}
.normal{
    font-weight: normal;
}
