html {
    height: 100vh;
}
body {
    margin: 0px;
    height: 100%;
    background-image: url("https://dynamicwallpaper.club/landing-vids/1.png");
}
body:hover > #pointer {
    opacity: 1;
}
#pointer {
    height: 30px;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 10000;

    pointer-events: none;
    opacity: 0;
    transition: opacity .3s ease;
}
* {
    cursor: none;
}